@import 'abstracts/variables';
@import 'abstracts/mixins';

* {
    font-family: var(--ff-100);
    color: var(--clr-100);
}

// a:not([class]) {
//     transition: all .3s;
//     &:hover {
//         color: var(--clr-200);
//     }
// }

.container {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1239px) {
        padding: 0 20px;
    }
}

.spacer-80 {
    margin-top: 80px;
}
.spacer-120 {
    margin-top: 120px;
}
.spacer-100 {
    margin-top: 100px;
}

.text {
    font-weight: 400;
    font-size: clamp(18px, 2vw, 24px);
}