.audience {
    &-grid {
        @include list-reset;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        row-gap: 50px;
        column-gap: clamp(40px, 5vw, 78px);
    }
    &-item {
        display: grid;
        grid-template-columns: clamp(90px, 10vw, 145px) 1fr;
        column-gap: 20px;
        align-items: center;
        &-img {
            -webkit-mask-image:url('../img/audience-item-mask.svg');
            mask-image: url('../img/audience-item-mask.svg');
            mask-size: contain;
            img {
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 767px) {
    .audience {
        &-grid {
            margin-top: 25px;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }
}