.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding: 15px 26px;
    border-radius: 15px;
    border: 0;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    &--icon {
        img {
            display: inline;
            vertical-align: middle;
            margin-right: 13px;
        }
    }
    &--outline {
        border: 1px solid var(--clr-200);
        background: transparent;
        &:hover {
            background-color: var(--clr-200);
        }
        &-blue {
            font-weight: 500;
            background: transparent;
            border: 1px solid var(--clr-500);
            background: var(--gr-100);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    &--solid {
        &-blue {
            background: var(--gr-100);
            color: var(--clr-700);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            &:hover {
                background: linear-gradient(to top, var(--clr-500), var(--clr-500));
            }
        }
        &-gold {
            background: var(--gr-200);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            &:hover {
                background: linear-gradient(to top, var(--clr-200), var(--clr-200));
            }
        }
    }
}