.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding: 15px 26px;
    border-radius: 15px;
    border: 0;
    &--outline {
        border: 1px solid var(--clr-200);
        transition: all .3s;
        &:hover {
            color: var(--clr-200);
        }
    }
    &--solid {
        transition: all .3s;
        &:hover {
            opacity: .9;
        }
        &-blue {
            background: var(--gr-100);
            color: var(--clr-700);
        }
        &-gold {
            background: var(--gr-200);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        }
    }
}