.header {
    background-color: var(--clr-700);
    padding: 10px 0;
    &-top, &-bottom, &-socials, &-wrap, &-left {
        display: flex;
        align-items: center;
    }
    &-wrap, &-top, &-bottom {
        justify-content: space-between;
    }
    &-wrap {
        column-gap: 20px;
    }
    &-top {

    }
    &-bottom {

    }
    &-right {
        display: flex;
        flex-direction: column;
        row-gap: 26px;
        width: 100%;
        max-width: 690px;
    }
    &-left {
        column-gap: 75px;
        .btn {
            text-align: center;
        }
    }
    &-socials {
        column-gap: 30px;
        &-item {
            font-weight: 400;
            font-size: 16px;
            img {
                max-width: 25px
            }
        }
    }
    &-langs, &-nav-list{
        @include list-reset;
        display: flex;
    }
    &-langs {
        column-gap: 12px;
    }
    &-lang {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.125em;
        a {
            font: inherit;
        }
        &--active {
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: var(--gr-100);
                left: 0;
                bottom: -5px;
            }
        }
    }
    &-nav {
        &-list {
            column-gap: clamp(20px, 3vw, 45px);
            li, a {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.125em;
            }
            a {
                transition: all .3s;
                &:hover {
                    color: var(--clr-200);
                }
            }
        }
    }
}

@media (max-width: 1239px) {
    .header {
        &-left {
            column-gap: 20px;
        }
        &-right {
            max-width: 600px;
        }
        &-wrap {
            column-gap: 50px;
        }
    }
}