.hero {
    position: relative;
    padding: 80px 0 0;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 365px;
        background: url('../img/hero-gradient.png') center top / contain no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 20px;
    }
    &-main {
        max-width: 534px;
    }
    &-btn {
        font-size: clamp(20px, 2vw, 24px);
    }
    &-text {
        margin-top: 30px;
        font-weight: 400;
        font-size: 30px;
        line-height: 150%;
        strong {
            font-weight: 500;
        }
        @media (max-width: 1239px) {
            font-size: clamp(18px, 2.4vw, 30px);
        }
    }
    &-btn {
        margin-top: 48px;
        line-height: 150%;
    }
    &-img {
        border-radius: 20px;
        overflow: hidden;
        max-width: 590px;
    }
}

@media (max-width: 1023px) {
    .hero {
        &-text {
            margin-top: 10px;
        }
        &-btn {
            margin-top: 20px;
        }
    }
}

@media (max-width: 767px) {
    .hero {
        padding-top: 15px;
        text-align: center;
        &::before {
            background-image: url('../img/hero-gradient-mob.png');
        }
        &-wrap {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
        &-main {
            display: contents;
        }
        &-img {
            margin-top: 12px;
            grid-row: 3/4;
        }
    }
}