.lecture {
    &-title {
        font-weight: 400;
        font-size: 24px;
    }
    &-media {
        margin-top: 32px;
    }
    &-video {
        width: 100%;
        aspect-ratio: 16/9;
    }
    &-text {
        margin-top: 22px;
        font-weight: 300;
        font-size: clamp(14px, 1.5vw, 16px);
        line-height: 180%;
    }
    &-group {
        margin-top: 90px;
    }
    &-files {
        @include list-reset;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, minmax(220px, auto));
        grid-auto-rows: auto;
        column-gap: 50px;
        row-gap: 40px;
    }
    &-file {
        font-size: 16px;
        display: flex;
        align-items: flex-start;
        column-gap: 15px;
        &-main {
            padding-top: 5px;
        }
        &-title {
            font-weight: 300;
        }
        &-link {
            background: var(--gr-100);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-decoration: underline;
        }
        &-icon {
            max-width: clamp(40px, 8vw, 80px);
        }
    }
    &-warning {
        margin-top: 20px;
        background: var(--gr-100);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        column-gap: 10px;
    }
    &-hw {
        .btn {
            font-weight: 500;
            font-size: 18px;
        }
    }
    &-notif {
        .btn {
            margin-top: 25px;
            padding: 19px 37px;
        }
    }
    &-form {
        margin-top: 25px;
        &-textarea {
            width: 100%;
            min-height: 164px;
            padding: 10px;
            border: 1px solid var(--clr-100);
            border-radius: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 180%;
        }
        &-group {
            margin-top: 25px;
            display: flex;
            column-gap: 25px;
        }
    }
}

@media (max-width: 767px) {
    .lecture {
        &-group {
            margin-top: 50px;
        }
        &-media {
            margin-top: 20px;
        }
        &-text {
            margin-top: 20px;
        }
    }
}

@media (max-width: 575px) {
    .lecture {
        &-files {
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
        &-file {
            font-size: 14px;
            column-gap: 5px;
            &-link {
                font-size: 12px;
            }
        }
        &-form {
            max-width: 100%;
            &-group {
                margin-top: 15px;
                row-gap: 15px;
                flex-direction: column;
            }
        }
    }
}