.plan {
    &-wrap {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 488px);
        justify-content: center;
        column-gap: 20px;
    }
    &-item {
        padding: 25px 30px 35px;
        border-radius: 20px;
        &--blue {
            background: #E9F1FB;
        }
        &--gold {
            background: #FFEFBE;
        }
        &-title {
            img {
                display: inline;
                vertical-align: bottom;
                margin-right: .8em;
            }
        }
        &-prices {
            margin-top: 20px;
            display: flex;
            column-gap: 36px;
            align-items: flex-end;
        }
        &-current {
            font-weight: 700;
            font-size: 32px;
        }
        &-old {
            font-weight: 400;
            font-size: 24px;
            s {
                text-decoration-color: #ff0000;
            }
        }
        &-body {
            margin-top: 28px;
            font-weight: 400;
            font-size: 18px;
            line-height: 180%;
            ul, ol {
                li {
                    &:not(:last-child) {
                        margin-bottom: 26px;
                    }
                }
            }
        }
        &-btn {
            margin-top: 28px;
            font-size: 20px;
            padding: 23px 26px;
            width: 100%;
            text-align: center;
            font-weight: 500;
        }
    }
}

@media (max-width: 1023px) {
    .plan {
        &-wrap {
            grid-template-columns: repeat(2, 1fr);
        }
        &-item {
            padding: 20px 10px 30px;
            &-title {
                img {
                    max-width: 30px;
                }
            }
            &-prices {
                margin-top: 10px;
            }
            &-current, &-old {
                font-size: 24px;
            }
            &-body {
                margin-top: 20px;
                font-size: 16px;
                ul, ol {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            &-btn {
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 767px) {
    .plan {
        &-wrap {
            grid-template-columns: 1fr;
            row-gap: 25px;
        }
        &-item {
            padding: 16px 20px;
            &-prices {
                flex-direction: column;
                align-items: flex-start;
            }
            &-title, &-prices {
                padding-left: 33px;
            }
        }
        
    }
}