.reviews {
    &-wrap {
        margin-top: 40px;
    }
    &-swiper {
        width: 100%;
        &-nav {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
        }
        &-pagination {
            width: auto !important;
            display: flex;
            column-gap: 25px;
        }
        &-next, &-prev {
            padding: 10px;
            border: 0;
            background: transparent;
        }
        &-bullet {
            font-weight: 300;
            font-size: 16px;
            line-height: 180%;
            &--active {
                font-weight: 500;
            }
        }
    }
    &-item {
        display: grid;
        grid-template-columns: clamp(120px, 10vw, 145px) 1fr;
        column-gap: 20px;
        align-items: flex-start;
        background: var(--clr-700);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        padding: 42px 22px;
        &-img {
            -webkit-mask-image:url('../img/audience-item-mask.svg');
            mask-image: url('../img/audience-item-mask.svg');
            img {
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
        }
        &-text {
            font-weight: 300;
            font-size: 16px;
            line-height: 180%;
        }
    }
}